:root {
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

:root {
    --light-color: #F5F5F7;
    --dark-color: #221F20;
    --container-padding-inline: 13%;
    --footer-padding-inline: 10%;
}

@media screen and (max-width: 768px) {
    :root {
        --container-padding-inline: 6%;
        --footer-padding-inline: 6%;
    }
}

@media screen and (max-width: 375px) {
    :root {
        --container-padding-inline: 15px;
        --footer-padding-inline: 15px;
    }
}



html {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

.container {
    padding: 0 var(--container-padding-inline);


}

p::selection {
    background: var(--dark-color, #221F20);
    color: var(--light-color, #F5F5F7);
}

.wrapper__title {
    text-align: center;
}

.title {
    position: relative;
    display: inline-block;
    color: var(--dark-color, #221F20);
    font-family: Inter;
    font-size: 40px;
    font-weight: 400;
    line-height: normal;

    &::after {
        position: absolute;
        bottom: -1px;
        right: 0;
        content: "";
        display: block;
        width: 75px;
        height: 2px;
        background: #000;
    }

    @media screen and (max-width: 768px) {

        font-size: 36px;
    }

    @media screen and (max-width: 576px) {

        font-size: 24px;
    }
}

.promo {
    position: relative;
    min-height: 100vh;
    background: url(../img/main_bg.jpg) center center / cover no-repeat;
    padding-top: 75px;

    @media screen and (max-width: 768px) {
        & {
            background: url(../img/Bg_768px.png) center center / cover no-repeat;
        }
    }

    @media screen and (max-width: 576px) {

        min-height: 500px;
        padding-top: 50px;
    }

    @media screen and (max-width: 375px) {
        & {
            background: url(../img/Bg__375px.png) center center / cover no-repeat;
        }
    }
}

.promo__title {
    color: var(--light-color, #F5F5F7);
    font-family: Inter;
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
        font-size: 48px;
    }

    @media screen and (max-width: 576px) {
        font-size: 26px;

    }
}

.promo__subtitle {
    margin-top: 124px;
    color: var(--light-color, #F5F5F7);
    font-family: Inter;
    font-size: 32px;
    font-weight: 100;

    @media screen and (max-width: 768px) {
        & {
            margin-top: 80px;
        }
    }

    @media screen and (max-width: 576px) {
        font-size: 16px;
        margin-top: 30px;

    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 3px 10px;
    width: 160px;
    min-height: 38px;
    border: 1px solid var(--light-color, #F5F5F7);
    background: rgba(217, 217, 217, 0.00);
    color: var(--light-color, #F5F5F7);
    font-family: Inter;
    font-size: 16px;
    font-weight: 100;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-out;

    @media screen and (max-width: 576px) {
        width: 120px;
        min-height: 30px;
        font-size: 14px;

    }
}

.btn:hover {
    font-weight: 500;
    box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.62);
}

.promo__adress {
    position: relative;
    margin-top: 100px;
    color: var(--light-color, #F5F5F7);
    font-family: Inter;
    font-size: 16px;
    font-weight: 100;
    line-height: normal;

    address {
        font-style: normal;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    &::before {
        position: absolute;
        left: -45px;
        top: -17px;
        content: "";
        display: block;
        height: 49px;
        width: 40px;
        background: url('../icons/Arrow.svg') center center / cover no-repeat;
    }

    @media screen and (max-width: 768px) {
        &::before {
            left: -40px;
        }

        & {
            margin-top: 80px;
        }

    }

    @media screen and (max-width: 750px) {
        &::before {
            display: none;
        }
    }

    @media screen and (max-width: 576px) {
        & {
            margin-top: 223px;

        }

    }
}

.keywords {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 360px;
    width: 100%;
    height: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.12) 50%, rgba(255, 255, 255, 0.20) 100%);
    position: absolute;
    bottom: 0;

    li {
        list-style: none;
        color: var(--light-color, #F5F5F7);
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
    }

    @media screen and (max-width: 1440px) {
        & {
            padding: 0 20px;
        }

    }

    @media screen and (max-width: 768px) {

        & li:nth-last-child(-n + 6) {
            display: none;
        }
    }

    @media screen and (max-width: 576px) {
        & {
            margin-top: 10px;
        }

        & li:nth-last-child(-n + 11) {
            display: none;
        }
    }

}

.about {
    padding-top: 80px;
    background: var(--light-color, #F5F5F7);
    position: relative;

    @media screen and (max-width: 576px) {
        padding-top: 50px;
    }

}

.about__title {
    color: var(--dark-color, #221F20);
    font-family: Inter;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;

    @media screen and (max-width: 576px) {
        font-size: 12px;
    }
}

.about__txt {
    margin-top: 20px;
    color: var(--dark-color, #221F20);
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 1040px;

    span {
        color: #A5A5A5;
    }

    @media screen and (max-width: 1440px) {
        width: 100%;

    }

    @media screen and (max-width: 768px) {
        font-size: 24px;
    }

    @media screen and (max-width: 768px) {
        font-size: 16px;
    }
}

.services {
    margin-top: 80px;
    font-family: Inter;
    font-weight: 400;
    color: var(--dark-color, #221F20);
    display: flex;

    @media screen and (max-width: 768px) {
        display: block;
        margin-top: 40px;
    }

    @media screen and (max-width: 375px) {
        margin-top: 20px;
    }

    .services__txt {
        width: 50%;
        font-size: 20px;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.4px;

        @media screen and (max-width: 768px) {
            width: 100%;
            margin-top: 40px;
        }

        @media screen and (max-width: 375px) {
            margin-top: 20px;
            font-size: 12px;
        }
    }

    .services__items {
        font-size: 16px;
        line-height: normal;
        width: 50%;

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        .services__item__subtitle {
            font-style: italic;

            @media screen and (max-width: 375px) {
                font-size: 12px;
            }
        }

        ul {
            margin-top: 20px;
            list-style: none;
            padding: 0;
            position: relative;

            @media screen and (max-width: 375px) {
                font-size: 14px;
            }


            li {
                margin-top: 10px;




                &:first-child::before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: -30px;
                    top: 2px;
                    width: 15px;
                    height: 15px;
                    background: url('../icons/Camera.svg') center center / cover no-repeat;

                    @media screen and (max-width: 576px) {
                        display: none;
                    }
                }

                &:nth-child(3)::before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: -30px;
                    margin-top: 2px;
                    width: 15px;
                    height: 15px;
                    background: url('../icons/Edit.svg') center center / cover no-repeat;

                    @media screen and (max-width: 576px) {
                        display: none;
                    }
                }

                @media screen and (max-width: 375px) {
                    margin-top: 5px;
                }
            }

        }


    }
}

.works {
    padding-top: 80px;
    background: var(--light-color, #F5F5F7);

    @media screen and (max-width: 768px) {
        padding-top: 50px;
    }

}

.works__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 1.5fr;
    column-gap: 30px;
    row-gap: 50px;
    margin-top: 50px;

    img {
        width: 100%;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }

    @media screen and (max-width: 768px) {
        column-gap: 20px;
        row-gap: 30px;
        margin-top: 40px;
    }

    @media screen and (max-width: 576px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr) 1.5fr;
        column-gap: 0px;
        row-gap: 30px;
    }
}

.inspiration {
    padding-top: 80px;
    background: var(--light-color, #F5F5F7);
}

.inspiration__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-top: 50px;

    img {
        width: 100%;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 30px 20px;
    }

    @media screen and (max-width: 768px) {
        margin-top: 40px;
    }

    @media screen and (max-width: 576px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr) 2.1fr 1fr 0.5fr;
        column-gap: 0px;
        row-gap: 20px;
    }

    #tenement__6 {
        grid-row: 1/3;
        grid-column: 4/5;
        height: 100%;

        @media screen and (max-width: 1200px) {
            grid-row: 2/4;
            grid-column: 2/3;
        }

        @media screen and (max-width: 576px) {
            grid-row: auto;
            grid-column: auto;
        }
    }

    #sky__5 {
        grid-column: 2/4;

        @media screen and (max-width: 1200px) {
            grid-column: 1/3;
        }

        @media screen and (max-width: 576px) {
            grid-column: auto;
        }
    }


}

.customers {
    padding: 80px 0 100px 0;
    background: var(--light-color, #F5F5F7);
    position: relative;

    @media screen and (max-width: 768px) {
        padding: 50px 0;
    }
}

.wrapper__customers {
    margin-top: 53px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    @media screen and (max-width: 576px) {
        margin-top: 30px;
        gap: 36px 20px;
    }

    img {
        background: url(<path-to-image>) lightgray 50% / cover no-repeat;
        box-shadow: 7px 7px 12px 0px rgba(0, 0, 0, 0.25);
        width: calc((100% - 90px) / 4);
        filter: grayscale(100%);

        &:hover {
            filter: grayscale(0%);
            transition: all 0.4s ease-in;
        }

        @media screen and (max-width: 576px) {
            width: calc((100% - 36px) / 2);
        }
    }
}

footer {
    background: var(--dark-color, #221F20);
    padding: 88px 0;

    .container {
        padding: 0 var(--footer-padding-inline);
    }

    @media screen and (max-width: 908px) {
        padding: 30px 0 40px 0;
    }
}

.wrapper__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

    address {
        color: var(--light-color, #F5F5F7);
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;

        @media screen and (max-width: 908px) {
            font-size: 16px;
            width: 100%;
        }

        @media screen and (max-width: 576px) {
            text-align: center;
            order: 2;
        }
    }

    a {
        color: var(--light-color, #F5F5F7);
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
    }

    @media screen and (max-width: 576px) {
        justify-content: space-around;
    }
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 32px;
        height: 32px;
        border: 1px solid var(--light-color, #F5F5F7);
        background: rgba(217, 217, 217, 0.00);
    }

    @media screen and (max-width: 768px) {
        gap: 31px;
    }
}


a.tel {
    @media screen and (max-width: 908px) {
        display: block;
        font-size: 16px;
        width: 100%;
    }

    @media screen and (max-width: 576px) {
        text-align: center;
        order: 1;
    }
}